<app-header
  [goBackButton]="true"
  [loading]="loadingDeleteDragon || loadingUpdateDragon"
  [title]="title"
></app-header>

<div class="container">
  <div class="form" *ngIf="!loadingDragonDetail">
    <button type="button" class="button-trash" (click)="handleDeleteDragon()"
      [disabled]="loadingDeleteDragon" *ngIf="!newDragon"
    >
      <i class="fa-solid fa-trash-can"></i>
    </button>

    <app-input
      label="ID"
      name="id"
      [disabled]="true"
      [(ngModel)]="dragon.id"
    ></app-input>

    <app-input
      label="Nome"
      name="name"
      [(ngModel)]="dragon.name"
    ></app-input>

    <app-input
      label="Tipo"
      name="type"
      [(ngModel)]="dragon.type"
    ></app-input>

    <app-input
      label="Data de criação"
      name="createdAtFormatted"
      [disabled]="true"
      [(ngModel)]="dragon.createdAtFormatted || dragon.createdAt"
    ></app-input>

    <div class="buttons-group">
      <button type="button" class="button-cancel" (click)="handleNavigateGoBack()"
        [disabled]="loadingUpdateDragon || loadingDeleteDragon"
      >
        Cancelar
      </button>

      <button type="button" (click)="handleButtonSave()"
        [disabled]="loadingUpdateDragon || loadingDeleteDragon"
      >
        Salvar
        <div class="spinner" *ngIf="loadingUpdateDragon"></div>
      </button>
    </div>
  </div>
</div>
