* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body, input, button, textarea {
  font-family: 'Nunito', sans-serif;
  background-color: #e6e3e3;
}

button, a {
  cursor: pointer;
}

.spinner {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #ddd9d9;
  margin-left: 10px;
  border-top: 3px solid transparent; /* Blue */
  animation: rotate 1s linear infinite;
}

.spinner-secondary {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid #000;
  margin-left: 10px;
  border-top: 6px solid transparent; /* Blue */
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
