* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body, input, button, textarea {
  font-family: 'Nunito', sans-serif;
  background-color: #e6e3e3;
}

button, a {
  cursor: pointer;
}
